﻿@model List<News.WebUI.Models.Sevices.News.LanguageListModel>

<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Diller</a>
    <div class="dropdown-menu rounded-0 m-0">
        @foreach (var language in Model)
        {
            <a href="/news/language/@language.Code" class="dropdown-item">@language.Name</a>
        }
    </div>
</div>