﻿@model List<News.WebUI.Models.Sevices.News.CategoryListModel>

@if (ViewBag.sSelectedView == 1)
{
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Kategoriler</a>
        <div class="dropdown-menu rounded-0 m-0">
            @foreach (var category in Model)
            {
                <a href="/news/category/@category.CategoryId" class="dropdown-item">@category.CategoryName</a>
            }
        </div>
    </div>
}
else
{
    <div class="d-flex flex-wrap m-n1">
        @foreach (var category in Model)
        {
            <a href="/news/category/@category.CategoryId" class="btn btn-sm btn-outline-secondary m-1">@category.CategoryName</a>
        }
    </div>
}

