﻿@model List<News.WebUI.Models.Sevices.News.NewsListModel>

<div class="container-fluid py-3">
    <div class="container">
        <div class="owl-carousel owl-carousel-2 carousel-item-3 position-relative">
            @foreach (var news in Model)
            {
                <div class="d-flex">
                    <img src="@news.UrlToImageAddress" style="width: 80px; height: 80px; object-fit: cover;">
                    <div class="d-flex align-items-center bg-light px-3" style="height: 80px;">
                        <a class="text-secondary font-weight-semi-bold" href="/news/detail/@news.NewsId">@(news.Title.Length >= 40 ? news.Title[..40] : news.Title)</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>