﻿@model News.WebUI.Models.Home.HomeViewModel
@{
    ViewData["Title"] = "Servis Haber";
}

<!-- Main News Slider Start -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="owl-carousel owl-carousel-2 carousel-item-1 position-relative mb-3 mb-lg-0">
                    @foreach (var news in Model.ScienceNews)
                    {
                        <div class="position-relative overflow-hidden" style="height: 435px;">
                            <img class="img-fluid h-100" src="@news.UrlToImageAddress" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">
                                    <a class="text-white" href="">@news.CategoryName</a>
                                    <span class="px-2 text-white">/</span>
                                    <a class="text-white" href="">@news.PublishedAt?.ToString("d MMMM, yyyy")</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="/news/detail/@news.NewsId">@news.Title</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                    <h3 class="m-0">Kategoriler</h3>
                    @*<a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>*@
                </div>
                <div class="position-relative overflow-hidden mb-3" style="height: 80px;">
                    <img class="img-fluid w-100 h-100" src="~/news-template/img/cat-500x80-1.jpg" style="object-fit: cover;">
                    <a href="/news/category/63a61fe97a2d2c6ba25a0f3e" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                        İş
                    </a>
                </div>
                <div class="position-relative overflow-hidden mb-3" style="height: 80px;">
                    <img class="img-fluid w-100 h-100" src="~/news-template/img/cat-500x80-2.jpg" style="object-fit: cover;">
                    <a href="/news/category/63a6204e7a2d2c6ba25a0f46" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                        Teknoloji
                    </a>
                </div>
                <div class="position-relative overflow-hidden mb-3" style="height: 80px;">
                    <img class="img-fluid w-100 h-100" src="~/news-template/img/cat-500x80-3.jpg" style="object-fit: cover;">
                    <a href="/news/category/63a6200c7a2d2c6ba25a0f40" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                        Magazin
                    </a>
                </div>
                <div class="position-relative overflow-hidden" style="height: 80px;">
                    <img class="img-fluid w-100 h-100" src="~/news-template/img/cat-500x80-4.jpg" style="object-fit: cover;">
                    <a href="/news/category/63a61fa47a2d2c6ba25a0f3c" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                        Spor
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main News Slider End -->

<!-- Featured News Slider Start -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
            <h3 class="m-0">Sağlık</h3>
            @*<a class="text-secondary font-weight-medium text-decoration-none" href="">View All</a>*@
        </div>
        <div class="owl-carousel owl-carousel-2 carousel-item-4 position-relative">
            @foreach (var news in Model.HealthNews)
            {
                <div class="position-relative overflow-hidden" style="height: 300px;">
                    <img class="img-fluid w-100 h-100" src="@news.UrlToImageAddress" style="object-fit: cover;">
                    <div class="overlay">
                        <div class="mb-1" style="font-size: 13px;">
                            <a class="text-white" href="">@news.CategoryName</a>
                            <span class="px-1 text-white">/</span>
                            <a class="text-white" href="">@news.PublishedAt?.ToString("d MMMM, yyyy")</a>
                        </div>
                        <a class="h4 m-0 text-white" href="/news/detail/@news.NewsId">@(news.Title.Length >= 40 ? news.Title[..40] : news.Title)</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Featured News Slider End -->

<!-- #region Category -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-3">
                <div class="bg-light py-2 px-4 mb-3">
                    <h3 class="m-0">İş</h3>
                </div>
                <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                    @foreach (var news in Model.BusinessNews)
                    {
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="@news.UrlToImageAddress" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">@news.CategoryName</a>
                                    <span class="px-1">/</span>
                                    <span>@news.PublishedAt?.ToString("d MMMM, yyyy")</span>
                                </div>
                                <a class="h4 m-0" href="/news/detail/@news.NewsId">@(news.Title.Length >= 40 ? news.Title[..40] : news.Title)</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-6 py-3">
                <div class="bg-light py-2 px-4 mb-3">
                    <h3 class="m-0">Teknoloji</h3>
                </div>
                <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                    @foreach (var news in Model.TechnologyNews)
                    {
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="@news.UrlToImageAddress" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">@news.CategoryName</a>
                                    <span class="px-1">/</span>
                                    <span>@news.PublishedAt?.ToString("d MMMM, yyyy")</span>
                                </div>
                                <a class="h4 m-0" href="/news/detail/@news.NewsId">@(news.Title.Length >= 40 ? news.Title[..40] : news.Title)</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-3">
                <div class="bg-light py-2 px-4 mb-3">
                    <h3 class="m-0">Magazin</h3>
                </div>
                <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                    @foreach (var news in Model.MagazineNews)
                    {
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="@news.UrlToImageAddress" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">@news.CategoryName</a>
                                    <span class="px-1">/</span>
                                    <span>@news.PublishedAt?.ToString("d MMMM, yyyy")</span>
                                </div>
                                <a class="h4 m-0" href="/news/detail/@news.NewsId">@(news.Title.Length >= 40 ? news.Title[..40] : news.Title)</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-6 py-3">
                <div class="bg-light py-2 px-4 mb-3">
                    <h3 class="m-0">Spor</h3>
                </div>
                <div class="owl-carousel owl-carousel-3 carousel-item-2 position-relative">
                    @foreach (var news in Model.SportNews)
                    {
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="@news.UrlToImageAddress" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-2" style="font-size: 13px;">
                                    <a href="">@news.CategoryName</a>
                                    <span class="px-1">/</span>
                                    <span>@news.PublishedAt?.ToString("d MMMM, yyyy")</span>
                                </div>
                                <a class="h4 m-0" href="/news/detail/@news.NewsId">@(news.Title.Length >= 40 ? news.Title[..40] : news.Title)</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->